.AddWishPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  color: white;
}

.imageFunctions {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    background: rgba(255,255,255,0.7);
    border-radius: 16px;
    padding: 6px 10px;
}

.imagePreview {
  z-index: 1;
  width: 100%;

  border-radius: 16px;
}

.function {
  color: var(--secondary-color);
  width: 28px;
  height: 28px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  margin-top: 35px;
}

.formTitle {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.imageUploader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  color: white;
}


.saveButton {
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
  padding: 12px;
  width: 100%;
  margin-top: 20px;
  border-radius: 12px;
}

:global {
  .nextui-input-label, .nextui-textarea-label {
    color: white !important;
  }

  .nextui-input-base-content, .nextui-textarea-base-content {
    color: white !important;
  }

  .nextui-checkbox-label {
    color: white !important;
  }
}